[submodule "site/site/themes/goHugo"]
	path = site/site/themes/goHugo
	url = https://github.com/gohugoio/hugoDocs.git
[submodule "themes/goHugo"]
	path = themes/goHugo
	url = https://github.com/gohugoio/hugoDocs.git
